:root, html, body, * {
  font-family: 'Raleway';
}

#action {
  display: none;
}

#addQuestionModalText {
  height: 300px;
  width: 100%;
}

#existingUserAddress {
  border: 0px;
  border-bottom: 2px solid black;
  width: 80%;
}

#loginModal .modal-body {
  overflow-x: hidden;
  text-align: center;
}

#loginModalExisting {
  border-left: 1px solid black;
}

#loginModalNew {
  border-right: 1px solid black;
}

#loginModalExisting,
#loginModalNew {
  box-sizing: border-box;
  display: inline-block;
  height: 200px;
  width: 49%;
}

#loginModalExisting > div > *,
#loginModalNew > div > * {
  margin: 10px 0px;
}

#responseCanvas,
#summaryView {
  box-sizing: border-box;
  font-size: 5vw;
  height: 100vh;
  line-height: 1;
  max-height: 100vh;
  padding-top: 66px;
  position: absolute;
  text-align: center;
  top: 0px;
  vertical-align: middle;
  width: 100%;
  z-index: -1;
}

#newUser, #newInstructor {
  margin-top: 10px;
}

#instructorModal {
  min-height: 100vh;
  width: 100%;
}

#instructorRegHolder {
  margin: 40px auto;
  padding: 10px;

  width: 55%;
}

#instructorRegistration {
  display: flex;

  flex-flow: column wrap;
  align-items: center;

  margin: 0 auto;
  height: 100%;
  width: 75%
}

#instructorRegistration input {
  width: 65%;
  margin-bottom: 5px;
}

.label {
  margin-left: 17.5%;
  align-self: flex-start;
}

#instructorRegistration button {
  width: 40%;
  font-size: 16px;
  margin-top: 12px;
}

#regWarning {
  margin-top 10px;
}

#summaryView {
  display: none;
  overflow-x: hidden;
  overflow-y: scroll;
}

.centered {
  text-align: center;
}

.centered::after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0px;
}

.centered > * {
  display: inline-block;
  vertical-align: middle;
}

.myButton {
  -moz-box-shadow:inset 0px 0px 10px -1px rgba(255, 105, 97, 1);
  -webkit-box-shadow:inset 0px 0px 10px -1px rgba(255, 105, 97, 1);
  box-shadow:inset 0px 0px 10px -1px rgba(255, 105, 97, 1);
  background-color:transparent;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid rgba(255, 105, 97, 0.5);
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  margin: 0px 5px;
  padding:9px 15px;
  text-decoration:none;
}
.myButton:hover {
  background-color:transparent;
  box-shadow:inset 0px 0px 10px 2px rgba(255, 105, 97, 1);
}
.myButton:active {
  position:relative;
  top:1px;
}


#miscContent {
  text-align: center;
  padding: 20px;

  min-height: 100vh;
  width: 100%;
}

.courseInfo {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.6);
  border-radius: 5px;

  display: flex;
  flex-flow: column;
  justify-content: center;

  margin: 10px auto;
  padding: 10px;

  height: 250px;
  width: 60%;
}

.courseInfo button {
  margin: 5px;
}
